:root {
    --background-color: #d1d4d8;
}

body {
    background-color: var(--background-color);
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

header {
    color: #161515;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo a {
    display: inline-block;
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    padding: 10px;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: #444444;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    padding: 10px 15px;
    border-radius: 10%;
    display: inline-block;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #f6f6f8;
    background-color: #181717;
}

.burger-menu {
    display: none;
    cursor: pointer;
    font-size: 24px;
}

.hero {
    background-color: var(--background-color);
    padding: 30px 0;
    text-align: center;
}

.hero h2 {
    color: #444444;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.contact-form {
    max-width: 2600px; /* 2x the original max-width */
    margin: 0 auto;
    padding: 50px; /* 2x the original padding */
    border: 1px solid #a09d9d;
    border-radius: 10px;
}

.active {
    background-color: rgb(67, 126, 255);
    border-radius: 10%;
    color: #fff;
}

main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(50vh - 230px); 
}

.contact-form {
    width: 100%;
    max-width: 500px;
}

.form-group {
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    background-color: #002aff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #000449;
}

footer {
    color: #070707;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        gap: 10px;
        display: none;
    }

    .nav-links.show {
        display: flex;
    }

    .burger-menu {
        display: block;
    }
}